compiledMaps/*
backups/*
logs/*
buildTools/ButtonManager/destination/*
temp/*
buildTools/logs/*
buildTools/temp/*
buildTools/backups/*
buildTools/w3x2lni_enUS_v2.7.2/log
sourceMaps/W3XBackup/*
buildTools/appSettings.*.json